{% extends "base.html" %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Predict Face Shape</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <form id="upload-form" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" name="image" class="form-control" id="image" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        <div id="result"></div>
    </div>
</div>
<script>
    document.getElementById('upload-form').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        fetch("{{ url_for('predict') }}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                document.getElementById('result').innerText = 'Error: ' + data.error;
            } else {
                document.getElementById('result').innerText = 'Predicted Face Shape: ' + data.prediction;
            }
        })
        .catch(error => {
            document.getElementById('result').innerText = 'Error: ' + error.message;
        });
    });
</script>
{% endblock %}
